body {
    padding: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 100;
}

.tabs-list {
    padding: 0;
}

.tabs-list li {
    display: inline-block;
    margin-right: 15px;
}

.tabs-list .active {
    padding: 5px;
    background: #ccc;
}

.specie {
    position: absolute;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-right: -15px;
    transition: 1s;
}

.specie.visible {
    max-height: 10000px;
    opacity: 1;
    position: static;
    max-height: 100000px;
    transition: 1s;
    z-index: 1;
}

.group {
    overflow: auto;
    margin: 15px 0;
}

.group-efforts {
    width: 10000px;
    font-size: 0;
}

.effort {
    background-color: #eee;
    width: 200px;
    display: inline-block;
    font-size: 13pt;
    margin: 15px 10px 15px 0;
    padding: 10px;
    border-radius: 10px;
}


input {
    padding: 3px 5px;
}
